@font-face {
  font-family: SignPainter;
  src: url('../fonts/pdown.ttf');
}

@font-face {
  font-family: vo;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: glitch;
  src: url('../fonts/pdown.ttf');




}

.menu {
	background-color: rgba(0,0,0,0.6);
	border-radius: 20px;
	font-family: vo;
	min-width: 400px;
	color: #fff;
	box-shadow: 0px 0px 50px 0px #000;
	position: absolute;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
  font-family: SignPainter;  
  font-size: 59px;
  background-image: url("../img/header/header.png");
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  height: 85px;
  line-height: 40px;
  color : white;
  font-style: oblique;


}
.menu .head_tatoo {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/tatoo.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_dmv {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/autoecole.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_garage {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/garage.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_personal {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/garage.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_concess {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/Concessionnaire.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_identity {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/identite.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_vetement {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/suburban.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_lscustom {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/lscus.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_vehicle {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/vehicle.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_Magasin {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/masque.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_fourriere {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/fourriere.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}


.menu .head_skin {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/skin_menu.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_perso {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/menu.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_accesoires {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/Accessoires.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}


.menu .head_valider {
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/valider.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_Modo{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/moderation.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}


.menu .head_meconcernant{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/Me_concernant.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_gps{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/gpsrapide.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}


.menu .head_Inventaire{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/Inventaire.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_mask{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/masque.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_emploi{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/poleemploi.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_emploid{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/universite.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_superete{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/247.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_job{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/actions_metier.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_patron{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/gestionpatron.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_employe{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/Sans_titre-1.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_entreprise{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/Entreprise.png");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}


.menu .head_ammu{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/ammunation.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_anim{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/animations.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_Factures{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/factures.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}

.menu .head_metier{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/actions_metier.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}
.menu .head_vestiaire{
  font-family: SignPainter;  
  font-size: 59px;

  background-image: url("../img/header/vestiaire.jpg");
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	height: 85px;
	line-height: 40px;
  color : white;
  font-style: oblique;
}


.menu .categorie {
  font-family:  glitch;
  font-size       : 23px;
  height          : 30px;
  line-height     : 35px;
    padding: 0 10px;
  color: white ;
  background-color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 18px;
font-weight: bold;
padding: 0 10px;
  position: right;
  top: 0px;

}
.menu .menu-items {
    max-height: 600px;
	overflow-y: hidden;
	border-radius: 0px 0px 20px 20px;
}
.menu .menu-items .menu-item {
 height: 40px;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
	-box-shadow: inset 1px 0px 0px 1px rgba(0, 0, 0, 0.6);
	height: 32px;
	line-height: 32px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.menu .menu-items .menu-item.selected {
  background-color: #4d4d4d38;
}


